# Bytecode and Python cache
*.pyc
__pycache__/
*.py[cod]
*.pyo

# Editor & OS noise
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Environment
.env
.env.*
.venv/
venv/
*.egg-info/
.eggs/

# Poetry virtualenv (if inside project)
.cache/
.python-version

# Testing & coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
.vcr_cassettes/

# Jupyter notebooks
.ipynb_checkpoints

# Logs
*.log
.env

# DuckDB or local DBs
*.db
*.sqlite
*.parquet
*.duckdb
*.db.wal

# VSCode debug config
.vscode/launch.json

# Output
build/
dist/
*.zip
*.tar.gz
